<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Hewj</h2>
            <form action="Result" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="Name">Imię</label>
                    <input class="form-control" type="text" name="Name"  id="Name" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="DateOfBirth">Data Urodzenia</label>
                    <input class="form-control" type="date" name="DateOfBirth" id="DateOfBirth" />
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Wyślij</button>
                </div>
            </form>
        </div>
    </div>
</div>
