@model Laboratorium_3.Models.Album

<form asp-action="Create" method="post">
    @* <div asp-validation-summary="All"></div> *@

    <div>
        <label asp-for="Name">Nazwa</label>
        <div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <input class="form-control" type="text" asp-for="Name" />
    </div>

    <div>
        <label asp-for="Band">Zespół</label>
        <div>
            <span asp-validation-for="Band" class="text-danger"></span>
        </div>
        <input class="form-control" type="text" asp-for="Band" />
    </div>

    <div>
        <label asp-for="TrackList">Lista piosenek</label>
        <div>
            <span asp-validation-for="TrackList" class="text-danger"></span>
        </div>
        <input class="form-control" asp-for="TrackList" />
    </div>

    <div>
        <label asp-for="ReleaseDate">Data wydania</label>
        <div>
            <span asp-validation-for="ReleaseDate" class="text-danger"></span>
        </div>
        <input class="form-control" type="date" asp-for="ReleaseDate" />
    </div>

    <div>
        <label asp-for="Duration">Czas trwania (minuty i senundy)</label>
        <div>
            <span asp-validation-for="Duration" class="text-danger"></span>
        </div>
        <input class="form-control" type="text" asp-for="Duration" />
    </div>

    <br />

    <button type="submit">Zapisz</button>

</form>
